<div class="modal fade" id="informationalModal">
    <div class="modal-diablog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informationalModal">Example Portfolio Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="carouselWithIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item-active">
                            <a href="/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                            <img src="/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item-active">
                            <a href="/assets/img/publicbackgrounds/bg-motherboard.jpg" target="_blank">
                            <img src="/assets/img/publicbackgrounds/bg-motherboard.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item-active">
                            <a href="/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                            <img src="/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden" >Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden" >Next</span>
                    </button>

                </div>

                <p class="text-muted my-2">
                    Click an image to view it full screen (opens a new tab).
                </p>

                <a href="https://dotnet.microsoft.com/apps/aspnet" class="btn btn-lg d-block mx-5 bg-dark text-white mt-3 shadow" target="_blank">
                    <i class="fas fa-laptop-code"></i> Live Demo
                </a>

                <a href="https://github.com/dotnet/aspnetcore" class="btn btn-lg d-block mx-5 btn-primary mt-5 shadow" target="_blank">
                    <i class="fab fa-github-square"></i> Github Repo
                </a>

                <h1 class="mt-5">Description</h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat risus. Duis in augue gravida, feugiat lectus in, condimentum risus. Suspendisse potenti. Nam iaculis lorem in tellus ornare tempor. In faucibus erat lectus, non varius mi tincidunt quis. Morbi eu tempus sapien, ac commodo velit. In sed sagittis elit. Sed eleifend purus nunc, ut tincidunt lorem sollicitudin in. Aenean porta rutrum ligula, ut condimentum risus ornare id.
                    <br />
                    <br />
                    Cras neque nulla, semper nec nulla quis, suscipit porttitor odio. Aenean aliquam justo at tortor blandit egestas sed vel ipsum. Proin a accumsan quam, non congue augue. Etiam congue gravida rhoncus. Nam id arcu urna. Pellentesque ac mi tellus. In hac habitasse platea dictumst. In ac vestibulum magna. Fusce ultrices vitae diam sed posuere.
                </p>

                <h1 class="mt-5">Core Features</h1>
                <ul>
                    <li>Feature one</li>
                    <li>Feature two</li>
                    <li>Feature three</li>
                    <li>Feature four</li>
                    <li>Feature five</li>
                    <li>Feature six</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg shadow" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>